<div class="footer-copyright blue lighten-1 navPC hide-on-med-and-down">
    <div class="container">
        <a class="grey-text text-lighten-4">Copyright © 2015 devnigam24@csu.fullerton.edu All rights reserved.</a>
    </div>
</div>

<div class="footer-copyright blue lighten-1 hide-on-large-only">
    <div class="container">
        <a class="grey-text text-lighten-4">Copyright © 2015 devnigam24@csu.fullerton.edu All rights reserved.</a>
    </div>
</div>
