    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 right">Copyright © 2015 devnigam24@csu.fullerton.edu All rights reserved.</a>
        </div>
    </div>
