/* write your own CSS here*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    margin-left: 3em;
}

.page-footer {
    background-color: #fff;
}

.main-wrapper {
    margin-left: 2em;
    margin-right: 2em;
}

.pofile-cover {
    height: 20em;
}

.card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}


/*for medium and down only*/

@media only screen and (max-width: 992px) {}


/*for large only*/

@media only screen and (min-width: 992px) {

    .profile-card {
        width: 109%;
    }

    .navPC {
        position: relative;
        overflow: hidden;
        margin-left: 20.2em;
    }

    .navPC nav {
        width: 78%;
    }

    .quiz-container {
        margin-left: 21em;
    }
}
