/* write your own CSS here*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #fff;
}

.main-wrapper {
    margin-left: 2em;
    margin-right: 2em;
}

.pofile-cover {
    height: 20em;
}

.card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

.range-field {
    position: relative;
    margin-top: 28px !important;
}

.quiz-checkbox {
  line-height: 5em;
}


/*for medium and down only*/

@media only screen and (max-width: 992px) {}


/*for large only*/

@media only screen and (min-width: 992px) {
    main {
        margin-left: 5em;
    }
    main .container .card {
        margin-left: 2.25em;
        width: 116%;
    }
    .navPC {
        position: relative;
        overflow: hidden;
        margin-left: 20.2em;
    }
    .navPC nav {
        width: 78%;
    }
}
