/* write your own CSS here*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.top4pt5 {
    top: 4.5em;
}

.navPC {
    position: relative;
    overflow: hidden;
    margin-left: 20.2em;
    width: 78.6%;
}

.page-footer{
  background-color: #fff;
}
