{{outlet}}
{{#if model}}
    {{#each model as |model|}}
        {{all-quizzes-info model=model isStudent=this.isStudent}}
    {{/each}}
{{else}}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel teal">
                <span class="white-text"><h2>No Quizzes Available</h2></span>
            </div>
        </div>
    </div>
{{/if}}
