<body>
    {{left-navigation isSIgnedIn=this.isSIgnedIn}}
    {{body-header
      showLoginButton=this.showLoginButton
      showJoinButton=this.showJoinButton
      isSIgnedIn=this.isSIgnedIn
    }} {{main-wrapper}} {{body-footer isSIgnedIn=this.isSIgnedIn}}
</body>
