<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">question_answer</i>{{question.question}}</div>
        <div class="collapsible-body row">
            {{#each question.options as |option|}}
                <div class="col s5">
                    {{options-dialog quizId=quizId name=question.id id=option
                      option=option checkAnswer=(action "checkAnswer" value=answerGiven)
                    }}
                </div>
            {{/each}}
            <div class="col s2">
                <a class="btn-floating btn-large waves-effect waves-light red"
                  {{action 'reportThisQuestion' question}}>
                  <i class="material-icons">report</i>Report</a>
            </div>
        </div>
    </li>
</ul>
