<li>
    <div class="user-view">
        <div class="background">
            <img class="background-image" src="assets/images/office.jpg">
        </div>
        <a><img class="circle" src="assets/images/dev.png"></a>
        <a><span class="white-text name">{{userInsession.firstName}} {{userInsession.lastName}} </span></a>
        <a><span class="white-text email">Student</span></a>
    </div>
</li>
<li>
    {{#link-to 'create-quiz' tagName='a' class='waves-effect' }}<i class="material-icons">add</i>Create Quiz{{/link-to}}
</li>
<li>
  {{#link-to 'attempt-quiz' tagName='a' class='waves-effect' }}<i class="material-icons">send</i>All Quizzes{{/link-to}}
</li>
<li>
  <div class="divider"></div>
</li>
<li><a class="subheader">Subheader</a></li>
<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
