<li>
    <div class="user-view">
        <div class="background">
            <img class="background-image" src="assets/images/office.jpg">
        </div>
        <a><img class="circle" src="assets/images/dev.png"></a>
        <a><span class="white-text name">{{userInsession.firstName}} {{userInsession.lastName}} </span></a>
        {{#if userInsession.isStudent}}
            <a><span class="white-text email">Student</span></a>
        {{else}}
            <a><span class="white-text email">Teacher</span></a>
        {{/if}}
    </div>
</li>
<li>
    {{#link-to 'dashboard' tagName='a' class='waves-effect' }}<i class="material-icons">home</i>Home{{/link-to}}
</li>
{{#unless userInsession.isStudent}}
    <li>
        {{#link-to 'create-quiz' tagName='a' class='waves-effect' }}<i class="material-icons">create</i>Create Quiz{{/link-to}}
    </li>
{{/unless}}
<li>
    {{#link-to 'my-created-quizzes' tagName='a' class='waves-effect' }}<i class="material-icons">assignment_ind</i>My Quizzes{{/link-to}}
</li>
<li>
    <div class="divider"></div>
</li>
{{#unless userInsession.isStudent}}
    <li>
        {{#link-to 'quiz-reports' tagName='a' class='waves-effect' }}<i class="material-icons">assignment_late</i>Check reports{{/link-to}}
    </li>
{{/unless}}
<li>
    {{#link-to 'show-all-quiz' tagName='a' class='waves-effect' }}<i class="material-icons">assignment</i>All Quizzes{{/link-to}}
</li>
