<div class="blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">Got repoted for {{report.topic}}</span>
        {{#each report.reports as |repo|}}
            <div class="divider"></div>
            <p>report for question : {{repo.question}}</p>
            <p>reports: {{repo.report}}</p>
            <p>Number of reports: {{repo.noOfStudentsRepoted}}</p>
            <div class="divider"></div>
        {{/each}}
    </div>
    <div class="card-action">
        <a href="#">See Details</a>
    </div>
</div>
