<div class="section white">
    <div class="row container">
        <h2 class="header">Paper Based Exams</h2>
        <div class="col s6">
            <blockquote>A lot of resources required.</blockquote>
        </div>
        <div class="col s6">
            <blockquote>Difficulty for the physically disabled students</blockquote>
        </div>
        <div class="col s6">
            <blockquote>Heaviely space and time consuming.</blockquote>
        </div>
        <div class="col s6">
            <blockquote>Tough and slow Grading and Environment un friendly.</blockquote>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="assets/images/index-page/offline-exam.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Introducing Intelligent and Interactive Quiz On Quizzeria</h2>
        <div class="col s6">
            <blockquote>Better writing. No matter what you are working on.</blockquote>
        </div>
        <div class="col s6">
            <blockquote>It is very simple to talk and read about Time Management.</blockquote>
        </div>
        <div class="col s6">
            <blockquote>Offers access to students with disabilities.</blockquote>
        </div>
        <div class="col s6">
            <blockquote>Easy Grading & Environment Friendly.</blockquote>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/index-page/online-exam.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Our Benefits</h2>
        <div class="col s4">
            <blockquote>Save time, Share knowledge and Study smarter.</blockquote>
        </div>
        <div class="col s4">
            <blockquote>Make the perfect study sets and goals.</blockquote>
        </div>
        <div class="col s4">
            <blockquote>Simple tools for learning and testing anything.</blockquote>
        </div>
        <p class="grey-text text-darken-3 lighten-3 flow-text">Our mission is to help students practice and master whatever they're learning.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/index-page/graduation.jpeg"></div>
</div>


<div class="section white">
    <div class="row container">
        <div class="col l6 s12">
            <h5 class="header">About Us</h5>
            <p class="text-lighten-4">This is an Online service for Creating, Updating, Attempting, Evaluationg as well as Reporting Quiz.</p>
            <p class="text-lighten-4">This website can be used by Students and Professors for academic purposes.</p>
        </div>
        <div class="col l3 s12">
            <h5 class="header">Professors</h5>
            <ul>
                <li><a class="grey-text text-darken-3 lighten-3">Create</a></li>
                <li><a class="grey-text text-darken-3 lighten-3">Attempt</a></li>
                <li><a class="grey-text text-darken-3 lighten-3">Report/Comment </a></li>
                <li><a class="grey-text text-darken-3 lighten-3">See Own's result</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="grey-text text-darken-3 lighten-3 flow-text">Students</h5>
            <ul>
                <li><a class="grey-text text-darken-3 lighten-3">Create</a></li>
                <li><a class="grey-text text-darken-3 lighten-3">Attempt</a></li>
                <li><a class="grey-text text-darken-3 lighten-3">Check All Reports/Comments</a></li>
                <li><a class="grey-text text-darken-3 lighten-3"></a>See All Results</li>
            </ul>
        </div>
    </div>
</div>
