<div class="footer-copyright blue lighten-1">
    <div class="container">
        <a class="grey-text text-lighten-4">Copyright © 2017 devnigam24@csu.fullerton.edu All rights reserved.</a>
    </div>
</div>
