<h1>Dasboard</h1>
{{profile-info sessionData=this.sessionData}}
<ul>
    {{#each-in sessionData as |category products|}}
        <li>{{category}}
            <ol>
                {{products}}
            </ol>
        </li>
    {{/each-in}}
</ul>
