<h1>Dasboard</h1>
{{profile-info}}
<ul>
    {{#each-in sessionData as |category products|}}
        <li>{{category}}
            <ol>
                {{products}}
            </ol>
        </li>
    {{/each-in}}
</ul>

<button type="button" name="button" {{action "logOut"}}>Log Out</button>
